.upBtn{
    position: fixed;
    right: 20%;
    bottom:3rem;
    display:flex;
    flex-direction: column;
    cursor: pointer;
   
}



.upWord{
    font-weight: bold;
    font-size:1rem;
    text-align:center;
    color:white;
    background-color: hsl(230, 50%, 50%);
    padding: .5rem;
    border-radius:5px;
    transition:0.2s;
}

.upWord:hover{
    color:orange;

}