.upBtn{
    position: fixed;
    right:5%;
    bottom:3rem;
    cursor: pointer;
    background-color: hsl(230, 50%, 50%);
    border-radius:50%;
    padding:.5rem;

   
}

.upWord{
    width: 2.5rem;
    color: white;
    
}

.upBtn:hover .upWord{
    color:orange;

}