.loadingPostContainer{
    width: 100%;
    box-sizing: border-box;
    height: fit-content;
    margin: .5rem auto;
    border: 1px solid rgb(150, 147, 147);
    display: flex;
    border-radius:  8px;
    align-content: first baseline;
    flex-wrap: wrap;
    background-color:white;
}

.loadingPostDataContainer{
    box-sizing: border-box;
    width: 92%;
    height:100%;
    padding: 1rem 0.5rem;
}


.loadingPostInfoContainer{
    display: flex;
    flex-wrap: wrap;
    height:45%;
}


.skeletonContainerAbout{
    width:100%;
    display: flex;
    align-items:center;

}

.skeletonContainerPhoto{
    flex:.8
}

.skeletonContainerName{
    flex:7.5;
}

.skeletonContainerTime{
    flex:1.5;
    text-align:right;
}

.hr{
    width:100%;
    border: 1px solid rgb(221, 218, 218);
    margin:.5rem 0;
    height:0;
    
}

.skeletonContainerTitle{
    flex:.5;
    margin: 1rem 0;
    
}

.skeletonContainerMedia{
    display: block;
    width: 100%;
}



.loadingActionContainer{
    display: flex;
    box-sizing: border-box;
    flex-wrap:wrap;
    align-content: space-between;
    width:8%;
    padding: 1rem 0;
    box-shadow: inset -6px 0px 4px -5px rgb(145, 143, 143);
    justify-content: center;
}

.commentsContainer{
    width:60%;
}

.commentsButton{
    width:100%;
    
}


@media only screen and (max-width: 768px){
    .loadingPostContainer{
        padding: 1rem;
        width: 100%;
        flex-direction: column-reverse;
        height: unset;
    }

    .loadingActionContainer{
        padding: unset;
        box-shadow: unset;
        width: 100%;
        height: unset;
        justify-content: space-between;
        border-top: 1px solid black;
        padding: .5rem 0;
    }

    .loadingPostDataContainer{
        padding: unset;
        width: 100%;
    }

    .commentsContainer{
        width: 1.5rem;
    }

    .skeletonContainerMedia{
        display: block;
        width: 100%;
        padding-bottom: 1rem;
    }
    
}