.contentFilter {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    background-color: white;
    border-radius: 8px;
    margin: 1rem 0;
    height: 3rem;
    align-items: center;
    box-shadow: 0 0 5px black;

}

.contentFilterMobile{
    display: none;
}

.paramButton {
    display: flex;
    width: fit-content;
    margin: 0 .5rem;
    align-items: center;
    text-decoration: none;
    color:black;
    font-weight: bold;
    padding: 0 .5rem;
    height: 90%;
}

.filterIcon {
    margin-right: .2rem;
    width: 2rem;
    height: 2rem;
}

.paramButton:hover {
    cursor: pointer;
    color: blue;
    background-color: hsla(210, 50%, 50%, .5);
    border-radius: 20px;
    text-decoration:none;

}

.paramButtonActive {
    display: flex;
    width: fit-content;
    margin: 0 .5rem;
    align-items: center;
    text-decoration: none;
    color:blue;
    font-weight: bold;
    padding: 0 .5rem;
    height: 90%;
    background-color: hsla(210, 50%, 50%, .7);
    font-size: 1.05rem;
    border-radius: 20px;


}
    
.paramButtonActive:hover{
    text-decoration:none;
}

@media only screen and (max-width: 1024px){
    .contentFilter{
        position: absolute;
        right: 1rem;
        flex-direction: column; 
        height: unset;
        width: 15%;
        padding: 1rem;
    }

    .paramButton{
        margin: .5rem 0;
        width: 100%;
    }
    
    .paramButtonActive{
        padding: .5rem;
        width: 100%;
        font-size: 1rem;
    }
}

@media only screen and (max-width: 768px){
    .contentFilter{
        display: none;
    }

    .contentFilterMobile{
        box-sizing: border-box;
        display: block;
        width: 100%;
        background-color: white;
        border-radius: 8px;
        margin: 1rem 0;
        height: 2.5rem;
        box-shadow: 0 0 5px black;
        padding: .5rem;
    }

    .filterForm{
        height:100%;
    }

    .filterSelector{
        height:100%;
        border-radius: 6px;
        width: 7rem;
        text-align: center;
        font-size: 1.1rem;
        background-color: hsla(210, 50%, 50%, .7);
        border-color: blue;
        font-weight: bold;
        color: blue;
    }
    
    .filterSelector:focus-visible{
        outline: 1px solid blue;
    }

    .optionParam{
        font-size: .8rem 
    }

    

}