.blank{
    display:flex;
    background-color: hsl(0, 0%, 96%);
    width:100%;
    min-height:100vh;
    flex-wrap:wrap;
    justify-content:center;
    align-content:first baseline;
}


@media only screen and (max-width: 1024px) {
    .blank{
        justify-content: flex-start;
    }
}


@media only screen and (max-width: 768px){


}
