.blank{
    display:flex;
    min-height:100vh;
    justify-content:center;
}


@media only screen and (max-width: 1024px) {
    .blank{
        justify-content: flex-start;
    }
}


@media only screen and (max-width: 768px){


}
