@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

.image-gallery-content:not(.fullscreen) .image-gallery-slide:not(.fullscreen) .image-gallery-image:not(.fullscreen) {
    height: 600px;
}

body{
    font-family: "Libre Baskerville", serif;  
}


@media only screen  and (max-width: 400px){
    html{
        font-size: 12px;
    }
}

@media only screen  and (max-width: 500px){
    html{
        font-size: 14px;
    }
}
