.postArea{
    display:grid;
    width:100%;
    grid-template-columns: 1fr 50rem 1fr;
    padding-top:1rem;
    background-color: hsl(0, 0%, 96%);

    
}
/*button styles*/
.backButton{
    width:30%;
    background-color:transparent ;
    position:relative;
    margin-top: -1rem;
    cursor: pointer;

}

.backButton:hover{
    transition: 0.2s;
    background-color: hsla(220, 70%, 50%, 0.45);
    text-decoration: none;
    box-shadow: 0 0 20px 10px hsla(220, 70%, 50%, 0.5);
    position: relative;
}

.backSign{
    position: fixed;
    top:50%;
    left:2.5%;
    color:transparent;
    font-weight:bold;
    height:4rem;
}

.backButton:hover .backSign{
    color:hsl(30,90%,50%);
}

/*post+comments boxes*/
.postAndCommentsBox{
    grid-column: 2/2;
    padding:0 1rem;
    width:100%;
    box-sizing: border-box;
    box-shadow: 0 0 10px black;
    background-color: white;
    margin-top:1.5rem;
    border-radius:7px;
}
/*post box styles*/

.postBox{
    display:flex;
    flex-wrap:wrap;
    
    
}

.mediaContainer{
    width:100%;
    text-align: center;
}

.title{
    width:100%;
    text-align:left;
    
    
}

.postMediaPhoto{
    max-height:600px;
    max-width:100%;
    margin: 0 auto;
    cursor: zoom-in;
    transition: 0.4s;
}

.activeOverlay{
    width:100%;
    height:100%;
    position: fixed;
    background-color: hsla(0, 0%, 50%, 0.8);    
    top:0;
    left:0;  
    pointer-events: auto;
}



.zoomedPostMediaPhoto{
    max-height:600px;
    max-width:100%;
    transform: scale(1.4);
    cursor: zoom-out;
    transition: 0.2s;
    position:relative;
    top:2rem;

}

.postMedia{
    max-height:600px;
    max-width:100%;
    margin: 0 auto;
}

.link{
    display:block;
    text-align:left;
}

.linkIcon{
    width: 1rem;
}


.postInfoContainer{
    display: flex;
    width:100%;
    margin-top: 2rem;
    box-sizing:border-box;
    height: 3rem;
}

.postDescription{
    margin:0;
    width:50%;
    text-align:right;
    align-self: center;
    font-style:italic;
    font-weight:bold;
    font-size:0.8rem;
    color:hsla(0, 0%, 50%, 0.6)
}

.likesContainer{
    height:100%;
    width:50%;
    display: flex;
    align-items:center;
    
}

.likeBtn{
    width:8%;
}

.likeBtn:hover{
    cursor: pointer;
    color: green;
    background-color: rgb(235, 234, 234);
}

.clickedLikeBtn{
    width:8%;
    color:green; 
    cursor: pointer;
}



.likesCounter{
    margin:.5rem;
    font-weight:600;
    font-size:0.8rem;
}

.likesCounterGreen{
    margin:.5rem;
    font-weight:700;
    font-size:0.8rem;
    color:green;
}

.likesCounterRed{
    margin:.5rem;
    font-weight:700;
    font-size:0.8rem;
    color:red;
}



.dislikeBtn{
    width:8%;
}

.clickedDislikeBtn{
    width:8%;
    height:auto;
    color:red;
    cursor: pointer;
}

.dislikeBtn:hover{
    cursor: pointer;
    color: red;
    background-color: rgb(235, 234, 234);
}

/*comments styles*/

.commentsArea{
    width:100%;
    padding-top: 2rem;
    text-align:center;
 }

.hrComments{
    background-color:white;
    border-color: black;
    margin-bottom: 2rem; 
}


/*subreddit info box styles*/
.subredditInfoBox{
    grid-column: 3/3;
    align-self: start;
    background-color:hsla(230, 50%, 70%, .3);
    width: 60%;
    justify-self: center;
    padding:.5rem;
    border-radius: 7px;
    margin-top:1.5rem;
}

.subredditMainInfo{
    margin: 0;
    display: flex;
    align-items:center;
    font-style: italic;
    font-size: 1.1rem;
}

.subredditAvatar{
    width:2rem;
    height:auto;
    border-radius: 50%;
    cursor: pointer;
    margin-right:.3rem;
    background-color:white;
    
}

.subredditDescription{
    margin: 0;
}

.followersNumber{
    margin: 0;
    font-weight: bold;
    text-align:center;
    font-size: 0.9rem;
}


.hrSrInfo{
    border-top:1px solid hsl(220, 50%, 30%);
}

/*for skeleton containers*/

.skeletonPostInfo{
    flex:1;
    padding-left:20%;
}

/*for skeletons themselvs*/

.skeletonLikesContainer{
    flex:1;

}

.srNameSkeleton{
    display:flex;
    align-items:center;
}








