.commentBox{
    text-align:left;
    overflow:hidden;
    padding:.5rem;
}

.reply{
    border-left:2px solid hsla(0, 0%, 50%, 0.6);
    margin-left:1rem;
}

.commentInfo{
    font-weight: bold;
}

.textBox{
    width:100%;
}

.postedAgo{
    font-size: 0.8rem;
    padding-left:0.5rem;
    color:hsla(0, 0%, 50%, 0.6);
    font-style:italic;
}

