

/*GENERAL STYLES FOR POST AREA/BOX*/
.defaultPostContainer{
    padding-top:1rem;
    width:100%;
    margin: 0 auto;

}


.title{
    font-family: "Noto Sans", sans-serif;
    margin: 0;
    text-align:left;
    overflow:hidden;
    font-size: 1.3rem;
}

.mediaContainerForLink{
    width:100%;
    display:flex;   
    flex-wrap:wrap;
}

/*NSFW*/
.nsfwWarning{
    font-weight: bold;
    color:hsl(350, 100%, 60%);
    text-decoration: underline;
    display: inline-block;
    padding: .1rem;
    margin: 0 0 1rem 0;
}

.seePostButton{
    padding: .5rem;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    background-color: hsla(0, 0%, 0%, 0.3);
    color: white;
}


.nsfw_fog{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 10;
    background-color: hsla(0, 0%, 48%, .8);
    border-radius: 10px;
    box-shadow: inset white;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nsfw_fog:hover .seePostButton{
    background-color: hsl(350, 100%, 40%);
    transition: .200s
}








/*styles for link*/


.linkPostTextInfoContainer{
    display:inline-block;
    width:70%;
    margin-right:5%;
}

.anchorForImg{
    display:inline-block;
    width:25%;
    height:100%;
    text-align: right;
}

.linkImg{
    width: 100%;
    border: 1px solid navy;
    border-radius: 5%;
}

.link{
    display: inline-block;
    margin: 1rem 0;
}

.linkIcon{
    width:1rem;
}

.defaultImage{
    margin:15% 35%;
    width:30%;
}




/*styles for image*/


.postMediaPhotoContainer{   
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    position: relative;
    overflow: hidden;
    background-color: hsla(0, 0%, 48%, .5);
    border-radius: 10px;
}

/*styles for self*/

table{
    border-collapse:collapse;
    border: 2px solid navy;
}

td{
    padding:0.3rem;
    border: 1px solid navy  ;
}

th{
    padding:0.3rem;
    border:1px solid navy;
}


/*styles for rich:video*/
.iframeContainer{
    margin-top:1rem;
}

/*styles for video*/
.videoJSContainer {
    margin-top: 1rem;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

/*POST AREA*/


/*styles for link*/

/*syles for image*/
.postAreaMediaPhoto{
    display: inline-block;
    max-height:600px;
    max-width:100%;
    margin: 0 auto;
    cursor: zoom-in;
    transition: 0.4s;
    margin-bottom:-4px;

}


.postAreaMediaPhoto:fullscreen{
    cursor: zoom-out;
}

/*nsfw*/
.postAreaNsfwPhoto{
    display: inline-block;
    max-height:600px;
    max-width:100%;
    margin: 0 auto;
    cursor: zoom-in;
    transition: 0.4s;
    filter: blur(20px)
}

.postAreaNsfwVideo{
    width:100% !important;
    height:600px;
    filter:blur(20px);
    border-radius: 10px;

}

/*styles for self*/


.selfTextForPostArea{
    text-align:left;
    width:100%;
}

.selfWithPhotoPostArea{
    display:flex;
    justify-content:center;
    margin: 0 auto;
    position:relative;

}



/*styles for rich:video*/

/*styles for hosted:video*/
.postAreaMediaVideoJS{
    width:100% !important;
    height:600px;
    border-radius: 10px;
}

/*styles for gallery*/


/*POST BOX*/


/*styles for link*/

/*syles for image*/
.postBoxMediaPhoto{
    display: inline-block;
    max-height:512px;
    max-width:100%;
    margin: 0 auto;
    margin-bottom: -4px;
    transition: 0.4s;
}

/*nsfw*/
.postBoxNsfwPhoto{
    display: inline-block;
    max-height:512px;
    max-width:100%;
    margin: 0 auto;
    cursor: zoom-in;
    transition: 0.4s;
    filter: blur(20px)
}

.postBoxNsfwVideo{
    width:100% !important;
    height:512px;
    filter:blur(20px);
    border-radius: 10px;
}

/*styles for self*/

.selfTextForPostBox{
    margin: 0;
    text-align:left;
    max-height:200px;
    overflow:hidden;
    position: relative;
}

.fogEffectContainer{
    position: absolute;
    top:0;
    width:100%;
    height: 100%;
    background: linear-gradient(to top, hsla(0, 0%, 100%, 1) 20px, hsla(0, 0%, 100%, 0));
}

/*styles for rich:video*/

/*styles for hosted:video*/
.postBoxMediaVideoJS{
    width:100% !important;
    height:512px;
    border-radius: 10px;
}

.videoAndFogContainer{
    position:relative;
}

/*gallery*/
.galleryContainerPostBox{
    display:flex;
    flex-wrap:wrap;
    align-items:flex-start;
    justify-content: space-between
}

.titleAndFlairFlexPostBox{
    width:72%;
    padding-right:3%;
    margin:0;
}

.thumbnailGalleryPostBox{
    width:20%;
}



@media only screen and (max-width: 1024px){
    .postAreaMediaPhoto{
        max-height: 500px;
    } 

    .postAreaMediaVideoJS{
        max-height: 400px;
    } 

    .postBoxMediaPhoto{
        max-height: 450px;
    } 

    .postBoxMediaVideoJS{
        max-height: 380px;
    }
}

