
.feedArea{
    display:flex;
    width:45rem;
    flex-wrap:wrap;
    align-items:flex-start;
}

@media only screen and (max-width: 1024px) {
    .feedArea{
        width: 70%;
        justify-content: flex-start;
        padding-left: 1rem;
        box-sizing: border-box;   
    }
}


@media only screen and (max-width: 750px){
    .feedArea{
        width: 100%;
        box-sizing: border-box;
        padding: 1rem;
    }
    

}





