

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');

.header{
    width: 100%;
    height: 4rem;
    background-color:hsl(230, 50%, 50%);
    position: sticky;
    box-shadow: 0 0 10px hsl(230, 50%, 50%);
    top:0;
    z-index:15;

}

.logoContainer{
    display: flex;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 3rem;
    top:0.75rem;    
    text-decoration: none;
    
}

.logoContainer:hover{
    text-decoration: none;
}

.logo{
    height: 100%;
    width:auto;
}

.siteName{
    font-family: "Kanit", sans-serif;
    font-size: 1.4rem;
    width:100%;
    font-weight: 700;
    color: orange;
    text-align: center;
    margin-left: 0.5rem;
}



.form{
    display: flex;
    box-sizing: border-box;
    align-items:center;
    width: 45rem;
    height:100%;
    margin: 0 auto;
    position:relative;
    
}

.input{
    width:93%;
    height: 2rem;
    border: 2px solid black;
    border-radius: .7rem;
    padding-right:2rem;
    padding-left:.5rem;
    font-family: "Ubuntu Sans Mono", monospace;
    
}

.input:focus-visible, input:focus{
    outline: 3px ridge orange;
    border: none;
}

.clearButton{
    background-color:transparent;
    color:black;
    border:none;
    position:absolute;
    right: 3rem;
    display: none;
    cursor: pointer;
    font-size:1rem;
    font-weight:bold;
}

.input:focus + .clearButton, .input:hover + .clearButton{
    display: inline-block;

}

.clearButton:hover{
    color:red;
    display: inline-block;
}

.submitButton{
    width:6%;
    background-color:transparent;
    border: 0px;
    cursor: pointer;
}

.findIcon{
    color: white;
}

.findIcon:hover{
    color:orange;
}





@media only screen and (max-width: 1240px){
    .form{
        width:40rem;
    }
}

@media only screen and (max-width: 1024px){
    .logoContainer{
        left: unset;
        top: unset;
        right: 1rem;   
        height: 100%;    
    }

    .logo{
        height: 80%;
    }



    .siteName{
        display: none;
    }

    .form{
        margin: 0;
        padding-left: 1rem;
        width:70%;
    }

    .input{
        width: 100%;
    }

    .submitButton{
        display: none;
    }

    .clearButton{
        right: 1rem;
    }
}