

.header{
    width: 100%;
    height: 4rem;
    background-color:hsl(230, 50%, 50%);
    position: sticky;
    box-shadow: 0 0 10px hsl(230, 50%, 50%);
    top:0;
    z-index:15;
    display: grid;
    grid-template-columns: 1fr 45rem 1fr;
    padding:0 2rem 0 3rem;
    align-items: center;
    

}

.logoContainer{
    display: flex;
    height: 2.5rem;
    justify-content: center;
    align-items: center; 
    text-decoration: none;
    justify-self: start;
}

.logoContainer:hover{
    text-decoration: none;
}

.logo{
    height: 100%;
    width:auto;
}

.siteName{
    font-family: "Kanit", sans-serif;
    font-size: 1.4rem;
    width:100%;
    font-weight: 700;
    color: orange;
    text-align: center;
    margin-left: 0.5rem;
}



.form{
    display: flex;
    box-sizing: border-box;
    align-items:center;
    width: 100%;
    height:100%;
    position:relative;
    
}

.input{
    width:93%;
    height: 2rem;
    border: 2px solid black;
    border-radius: .7rem;
    padding-right:2rem;
    padding-left:.5rem;
    font-family: "Ubuntu Sans Mono", monospace;
    
}

.input:focus-visible, input:focus{
    outline: 3px ridge orange;
    border: none;
}

.clearButton{
    background-color:transparent;
    color:black;
    border:none;
    position:absolute;
    right: 3rem;
    display: none;
    cursor: pointer;
    font-size:1rem;
    font-weight:bold;
}

.input:focus + .clearButton, .input:hover + .clearButton{
    display: inline-block;

}

.clearButton:hover{
    color:red;
    display: inline-block;
}

.submitButton{
    width:6%;
    background-color:transparent;
    border: 0px;
    cursor: pointer;
}

.findIcon{
    color: white;
}

.findIcon:hover{
    color:orange;
}






@media only screen and (max-width: 1240px){
    .header{
        padding-left: 2rem;
        grid-template-columns: 1fr 40rem 1fr;
    }
    .siteName{
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 1024px){
    .logoContainer{
        height: 4rem;    
        
    }

    .logo{
        height: 80%;
    }

    .siteName{
        display: none;
    }

    .form{
        margin: 0;
        padding-left: 1rem;
        width:70%;
    }

    .input{
        width: 100%;
    }

    .submitButton{
        display: none;
    }

    .clearButton{
        right: 1rem;
    }
}

@media only screen and (max-width: 768px){
    .header{
        grid-template-columns: 20% 60% 20%;
    }

    .form{
        width: 100%;
    }
}