
/*header*/
.header{
    width: 100%;
    height: 4rem;
    background-color:hsl(230, 50%, 50%);
    position: relative;

}

.submitButton{
    height: 2rem;
}

.find{
    color: white;
}

.logoContainer{
    display: flex;
    height: 100%;
    width: 10%;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 3rem;
}

.logo{
    height: 95%;
    width:auto;
}

.siteName{
    font-size: 1.4rem;
    width:100%;
    font-weight: 800;
    color: orange;
    text-align: center;
    margin-left: 0.5rem;
}

.form{
    display: flex;
    align-items:center;
    width: 45rem;
    height:100%;
    margin: 0 auto;
}

.input{
    width:93%;
    height: 2rem;
    border: 2px solid black;
    border-radius: 40px;
}

.submitButton{
    width:7%;
    height: 2rem;
    background-color:transparent;
    border: 0px;
    cursor: pointer;
}

